<!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status ? 'hide' : ''">
  <a href="#" class="brand">
    <i class='bx bxs-smile'></i>
    <span class="text">Admin Dashboard</span>
  </a>
  <ul class="side-menu top">
    <li>
      <a routerLink="/admin">
        <i class='bx bxs-dashboard' ></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li >
      <a routerLink="/prof-admin">
        <i class='bx bxs-user' ></i>
        <span class="text">Professeurs</span>
      </a>
    </li>
    <li class="active">
      <a routerLink="/structure-admin">
        <i class='bx bxs-building-house' ></i>
        <span class="text">Structures</span>
      </a>
    </li>
    <li>
      <a routerLink="/rubrique-admin">
        <i class='bx bx-label'></i>
        <span class="text">Rubriques</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a href="#">
        <i class='bx bxs-cog' ></i>
        <span class="text">Settings</span>
      </a>
    </li>
    <li>
      <a href="#" class="logout">
        <i class='bx bxs-log-out-circle' ></i>
        <span class="text">Logout</span>
      </a>
    </li>

  </ul>

</section>

<!-- SIDEBAR -->


<!-- CONTENT -->
<section id="content" class="front-page">
  <!-- NAVBAR -->
  <nav>
    <i (click)="addToggle()" class='bx bx-menu' ></i>
    <!-- <a href="#" class="nav-link">Categories</a> -->
    <!-- <form action="#">
      <div class="form-input">
        <input type="search" placeholder="Search...">
        <button type="button" class="search-btn"><i class='bx bx-search' ></i></button>
      </div>
    </form> -->
    <!-- <a href="#" class="notification">
      <i class='bx bxs-bell' ></i>
      <span class="num">8</span>
    </a> -->
    <!-- <a href="#" class="profile">
      <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
    </a> -->
    <a routerLink="/login" class="nav-link"><i class="fa-solid fa-right-to-bracket" id="detail-button "></i>  Se connecter</a>

  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1 >Structures</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Accueil</a>
          </li>

          <li><i class='bx bx-chevron-right' ></i></li>
          <li>
            <a class="active" routerlin="/structure-admin">Structures</a>
          </li>
          <!--form (submit)="search()" class="search-form">
            <div class="form-input">
              <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" name="searchTerm" class="search-input">
              <button type="submit" class="search-button"><i class='bx bx-search' ></i></button>
            </div>
          </form-->
        </ul>
      </div>
      <button class="btn btn-outline-danger"(click)="openNewStructureForm()"><i class="fa-solid fa-building"></i> Ajouter une structure</button>
      <!-- <button  (click)="openNewProfForm()" class="btn-download" ><i class="fa-solid fa-user-plus"></i>Add Professor</button> -->
    </div>

    <div class="table-data">
      <div class="order">

        <table>
          <thead>
          <tr >
            <th><i class="fa-solid fa-signature"></i> Acronyme</th>
            <th><i class="fa-solid fa-building"></i> Nom</th>
            <th><i class="fa-solid fa-building"></i> Type de Structure</th>
            <th><i class="fa-solid fa-user-tie"></i> Responsable</th>
            <th><i class="fa-solid fa-credit-card"></i> Budget Annuel</th>
            <th><i class="fa-solid fa-magnifying-glass-plus"></i> Détails</th>
            <th><i class="fa-solid fa-trash"></i> Supprimer</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let s of structures">
            <td style="text-decoration: none; color:#004AAD;" draggable="true" (dragstart)="onDragStart($event, s.mail)">{{s.acronyme}}</td>
            <td style="text-decoration: none; color:#004AAD;" draggable="true" (dragstart)="onDragStart($event, s.nom)">{{s.nom}}</td>
            <td style="text-decoration: none; color:#004AAD;" draggable="true" (dragstart)="onDragStart($event, s.type)">
              {{ s.typeAsString}}
            </td>

            <td style="text-decoration: none; color:#004AAD;" (click)="copyToClipboard(s.nomResponsable, $event)" draggable="true" (dragstart)="onDragStart($event, s.nomResponsable)"><i class="fa-solid fa-envelope"></i> {{s.nomResponsable}}</td>
            <td style="text-decoration: none; color:#004AAD;"> {{s.budgetAnnuel}} DHs</td>
            <td>
              <button class ="btnd detail-button" (click)="getStructureById(s.id)"> <i class="fa-solid fa-magnifying-glass-plus"></i></button>
            </td>
            <td>
              <button class="btnf btn-outline-danger"(click)="deleteStructure(s.id)" (drop)="deleteStructure(s.id, $event)" (dragover)="allowDrop($event)"><i class="fa-solid fa-trash"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Other HTML code remains unchanged -->

    <div class="popup card" *ngIf="isDetailsFormOpen">
      <div class="card-body">
        <!-- Form header -->
        <div class="hh">
          <h4><i class="fa-solid fa-magnifying-glass-plus"></i> Détails de la structure</h4>

        </div>
        <button class="btnfp btn-outline-secondary ms-3" (click)="closeDetailsForm()">
          <i class="fa-solid fa-circle-xmark" id="detail-button "></i>
        </button>

        <!-- Structure details form -->
        <form class="row" [formGroup]="detailsForm">
          <!-- Input fields for structure details -->
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="acronyme" formControlName="acronyme" [readonly]="!isEditMode">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="nom" formControlName="nom" [readonly]="!isEditMode">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="type" formControlName="type" list="structureTypeList" [readonly]="!isEditMode">
              <datalist id="structureTypeList">
                <option *ngFor="let type of structureTypes" [value]="type"></option>
              </datalist>
            </div>
          </div>
          <!-- Additional input for lab_parent -->
          <div *ngIf="detailsForm.get('type')?.value === 'Equipe de Recherche'" class="col-md-6">
            <div class="form-group">
              <label>Laboratoire Parent</label>
              <input type="text" class="form-control" id="parentLabNom" formControlName="parentLabNom" list="laboList" [readonly]="!isEditMode">
              <datalist id="laboList">
                <option *ngFor="let parentLab of listlabo" [value]="parentLab.nom"></option>
              </datalist>
            </div>
          </div>
          <!-- Additional input for equi_child -->
          <div *ngIf="detailsForm.get('type')?.value === 'Laboratoire de Recherche'" >
            <label>Équipes de recherche affiliées</label>
            <div class="col-md-6"  *ngFor="let equipe of childEquipesNoms; let i = index">
              <div class="form-group">
                <label>Équipe {{ i + 1 }}</label>
                <input type="text" class="form-control" [formControl]="childEquipesNoms[i]"  list="professorList"  [readonly]="!isEditMode">
                <datalist id="professorList">
                  <option *ngFor="let equipe of listprof" [value]="equipe.prenom+' '+ equipe.nom" ></option>
                </datalist>
              </div>
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group">
              <input type="number" class="form-control" id="budgetAnnuel" formControlName="budgetAnnuel" [readonly]="!isEditMode">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Responsable</label>
              <input type="text" class="form-control" id="nomResponsable" formControlName="nomResponsable" list="professorList" [readonly]="!isEditMode">
              <datalist id="professorList">
                <option *ngFor="let responsable of listprof" [value]="responsable.prenom+' '+ responsable.nom" ></option>
              </datalist>
            </div>
          </div>
          <div class="col-md-6" *ngFor="let membre of equipe_prof_names; let i = index">
            <div class="form-group">
              <label>Membre {{ i + 1 }}</label>
              <input type="text" class="form-control" [formControl]="equipe_prof_names[i]"  list="professorList"  [readonly]="!isEditMode">
              <datalist id="professorList">
                <option *ngFor="let membre of listprof" [value]="membre.prenom+' '+ membre.nom" ></option>
              </datalist>
            </div>
          </div>

          <!-- Add more form controls as needed -->
        </form>
      </div>
      <div class="card-footer bg-transparent">
        <!-- Toggle edit mode button -->
        <button class="btn btn-outline-primary" (click)="toggleEditMode()">
          <i class="fa-solid" [ngClass]="{'fa-rotate-left': isEditMode, 'fa-pen-to-square': !isEditMode}"></i>
          {{ isEditMode ? 'Annuler' : 'Modifier' }}
        </button>
        <!-- Save changes button (visible in edit mode) -->
        <button *ngIf="isEditMode" class="btns btn-outline-success ms-3" (click)="saveStructureChanges()"><i class="fa-solid fa-bookmark" id="detail-button "></i> Enregistrer les modifications</button>
      </div>
    </div>
    <div class="overlay" [ngClass]="{'show': isDetailsFormOpen}"></div>

    <!-- Popup card for adding a new structure -->
    <div class="popup card" *ngIf="isNewStructureFormOpen">
      <div class="card-body">
        <div class="hh">
          <h4> <i class="fa-solid fa-building"></i> Ajouter une nouvelle structure</h4>
          <button class="btnfp btn-outline-primary" (click)="closeNewStructureForm()"><i class="fa-solid fa-circle-xmark" id="detail-button "></i></button>
        </div>
        <form class="row" [formGroup]="newStructureForm" (ngSubmit)="saveNewStructure()">
          <div class="col-md-6">
            <div class="form-group">

              <input type="text" class="form-control" id="acronyme" formControlName="acronyme" placeholder="Acronyme">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <!-- <label for="nom">Nom</label> -->
              <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Nom">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="type" formControlName="type" list="structureTypeList" placeholder="Type de Structure">
              <datalist id="structureTypeList">
                <option *ngFor="let type of structureTypes" [value]="type">{{ type }}</option>
              </datalist>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <!-- <label for="nom">Nom</label> -->
              <input type="number" class="form-control" id="budgetAnnuel" formControlName="budgetAnnuel" placeholder="Budget Annuel">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="idResponsable" formControlName="idResponsable" list="professorList" placeholder="Nom du Responsable">
              <datalist id="professorList">
                <option *ngFor="let responsable of listprof" [value]="responsable.prenom + ' ' + responsable.nom">{{responsable.prenom}} {{ responsable.nom }}</option>
              </datalist>
            </div>
          </div>

          <!-- HTML Template -->
          <div class="col-md-6">
            <div class="hh">
              <!-- <label for="nom" style="color:#004AAD; margin-left:4px">Membres de la structure</label> -->
              <button type="button" class="btnp btn-primary" (click)="addDropdown()"> Ajouter<i class="fa-solid fa-user-plus"></i></button>
            <button type="button" style="color: red;" class="btnp btn-primary" (click)="removeDropdown()"> Retarancher<i class="fa-solid fa-user-minus"></i> </button>
          </div>
            </div>
          <div class="col-md-6" *ngFor="let dropdown of dropdowns; let i = index">
            <div class="form-group">
              <input type="text" class="form-control" [id]="'equipe_prof_ids_' + i" formControlName="equipe_prof_ids_{{ i }}" list="professorList" placeholder="Membre {{ i + 1 }}">
              <datalist id="profList_{{i}}">
                <option *ngFor="let prof of listprof" [value]="prof.prenom + ' ' + prof.nom">{{ prof.prenom }} {{ prof.nom }}</option>
              </datalist>
            </div>
          </div>

        </form>
      </div>
      <div class="card-footer bg-transparent">
        <button class="btn btn-outline-success ms-3" (click)="saveNewStructure()"><i class="fa-solid fa-plus" id="detail-button "></i> Ajouter</button>
      </div>



    </div>
    <!-- Overlay for the front page -->
    <div class="overlay" [ngClass]="{'show': isNewStructureFormOpen}"></div>


  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->

