<div class="login-area ptb-100">
    <div class="container">
        <div class="login-form">
            <h4>Change Password</h4>
            <p style="color: #F09B0D;">Please enter your new password.</p>
            <form [formGroup]="passwordChangeForm" (ngSubmit)="onPasswordChangeSubmit()">
                <div class="form-group">
                    <label>Entrer nouveau mot de passe</label>
                    <input
                      type="password"
                      placeholder="Enter your new password"
                      class="form-control"
                      name="newPassword"
                      formControlName="newPassword"
                      minlength="4"
                      maxlength="20"
                      required
                    />
                </div>
                <div class="form-group">
                    <label>Confirmer le nouveau mot de passe</label>
                    <input
                      type="password"
                      placeholder="Confirm your new password"
                      class="form-control"
                      name="confirmPassword"
                      formControlName="confirmPassword"
                      minlength="4"
                      maxlength="20"
                      required
                    />
                </div>
                <div *ngIf="passwordChangeForm.controls['confirmPassword'].touched && passwordChangeForm.controls['confirmPassword'].invalid" class="invalid-input">
                    <span>Passwords do not match</span>
                </div>
                <button type="submit" class="default-btn" [disabled]="passwordChangeForm.invalid">Change Password</button>
            </form>
        </div>
    </div>
</div>
