<div class="login-area ptb-100">
  <div class="container">
    <div class="login-form">
      <h4>Modifier le mot de passe</h4>
      <p style="color: #F09B0D;">Veuillez entrer votre nouveau mot de passe.</p>
      <form [formGroup]="passwordChangeForm" (ngSubmit)="onPasswordChangeSubmit()">
        <div class="form-group">
          <label>Entrer votre nouveau mot de passe</label>
          <input
            type="password"
            placeholder="Entrer votre nouveau mot de passe"
            class="form-control"
            name="newPassword"
            formControlName="newPassword"
            minlength="4"
            maxlength="20"
            required
          />
        </div>
        <div class="form-group">
          <label>Confirmer le nouveau mot de passe</label>
          <input
            type="password"
            placeholder="Confirmer le nouveau mot de passe"
            class="form-control"
            name="confirmPassword"
            formControlName="confirmPassword"
            minlength="4"
            maxlength="20"
            required
          />
        </div>
        <div *ngIf="passwordChangeForm.controls['confirmPassword'].touched && passwordChangeForm.controls['confirmPassword'].invalid" class="invalid-input">
          <span>Les mots de passe ne sont pas identiques</span>
        </div>
        <button type="submit" class="default-btn" [disabled]="passwordChangeForm.invalid">Modifier le mot de passe</button>
      </form>
    </div>
  </div>
</div>
