@import '../../assets/vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.login-area {
    background: url('D:\\GitHub\\Order-Management-Using-Distributed-Systems\\gestion-commande-web-app\\src\\assets\\images\\bg.jpg') center center/cover no-repeat;
}


.login-form {
    padding: 50px;
    max-width: 600px;
    border-radius: 5px;
    transition: all 0.5s;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 1.25rem #6c76861a;
    margin-left: auto;
    margin-right: auto;


    h4 {
        margin-bottom: 12px;
        font-size: 25px;
        font-weight: 500;
        color: #004AAD;
    }

    form {
        margin-top: 5px;

        .form-group {
            margin-bottom: 20px;
        }

        label {
            color: #6a6c72;
            margin-bottom: 10px;
            display: block;
        }

        .form-control {
            color: #6a6c72;
            transition: all 0.5s;
            background-color: #f1f5fe;
            border: 1px solid #f1f5fe;
            font-size: 16px;
            border-radius: 8px;
            padding: 15px 20px;
            box-shadow: unset;
            display: block;
            height: 55px;
            width: 100%;
            outline: 0;

            &:focus {
                border-color: #004AAD;
                box-shadow: 0 0 5px rgba(#004AAD, 0.5);
            }
        }

        .default-btn {
            margin-top: 20px;
            padding-left: 35px;
            padding-right: 35px;
            cursor: pointer;
        }

        .account-text {
            margin-top: 20px;

            span {
                color: $paragraph-color;

                a {
                    color: #004AAD !important;
                }
            }
        }
    }

    &:hover {
        border-color: #004AAD;
        transition: all 0.5s;
    }
}



@media only screen and (max-width: 767px){
    .login-area {
        background: none;
    }
    .login-form{
       padding: 0;
       max-width: 100%;
       border: none!important;
       box-shadow: unset!important;
       background-color: transparent;

        h4{
         margin-bottom: 10px;
         font-size: 20px;
        }

        form{
            margin-top: 0;

            .form-group{
                margin-bottom: 15px;

                label{
                    font-size: 14px;
                }

                .form-control{
                    font-size: 14px;
                    padding: 15px;
                    height: 50px;
                }
            }

            .remember-me-wrap{
                .form-check{
                    margin-bottom: 0;

                    .form-check-input{
                        margin-top: 0.16em;
                        box-shadow: unset!important;
                    }

                    .form-check-label{
                        color: $paragraph-color;
                        font-weight: 400;
                        margin-bottom: 0;
                    }
                }
            }

            .lost-your-password-wrap{
                text-align: start;
                margin-top: 10px;

                a{
                    color: #000;
                    display: inline-block;
                    position: relative;
                    line-height: 1.4;
                }
            }

            .default-btn{
                margin-top: 15px;
            }

            .account-text{
                margin-top: 15px;
            }
        }
    }
}


body{
    font-family: 'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

a {
    transition: 0.5s;
    color: #000;
    text-decoration: none;
    outline: 0!important;
}

p {
    color: $paragraph_color;
    font-size:16px;
    margin-bottom: 15px;
    line-height: 1.8;
}

.pb-75 {
    padding-bottom: 75px;
}

.pb-100{
    padding-bottom: 100px;
}

.pt-100{
    padding-top: 100px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: 'Poppins' , sans-serif;
    font-weight: 700;
}

.default-btn{
    background-color: $main_color;
    transition: all 0.5s;
    color: #fff;
    display: inline-block;
    padding: 14px 40px;
    border-radius: 0;
    box-shadow: none;
    border: none;
    font-size: 16px;
    font-weight: 500;

    &:hover{
        background-color:#004AAD ;
        transition: all 0.5s;
        color: #fff !important;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.bg-f5f5f5 {
    background-color: #f5f5f5;
}

.sub-title{
    position: relative;
    margin-bottom: 20px;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 20px 10px 40px;
    color: $paragraph_color;
    background-color: #fff;
    box-shadow: #959da526 0 8px 24px;
    font-size: 15px;
    font-weight: 500;

    i{
        transform: translateY(-50%);
        position: absolute;
        font-size: 19px;
        color: #14e49a;
        margin-top: 2px;
        left: 20px;
        top: 45%;
    }
}

.bg-eef9ff {
    background-color: #eef9ff;
}

@media only screen and (max-width: 768px){
body, p {
    font-size: 14px;
}

.ptb-100 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.default-btn {
    padding: 12px 30px;
    font-size: 14px;
}

blockquote , .blockquote  {
    padding: 20px !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;

    p{
        font-size: 15px !important;
    }
}

}

.section-title-warp {
    padding-right: 175px;
    margin-bottom: 45px;
    position: relative;

    h2{
        font-size: 38px !important;
        margin-bottom: 0;
        max-width: 700px;
        line-height: 1.3;
    }

    .default-btn{
        position: absolute;
        bottom: 5px;
        right: 0;
    }
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.ps-5 {
    padding-left: 3rem!important;
}

blockquote, .blockquote{
    border-left: 3px solid $main_color;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;

    p{
        margin-bottom: 0;
        color: #000;
        font-size: 18px;
        font-weight: 500;
        font-style: italic;
    }
}


.invalid-input{
    color: red;
    font-size: 12px;
    margin-top:-20px
}


