  .popup {
    display: -moz-box;
    position: fixed;
    height: auto;
    width: 30%;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 3px 6px #82b8ff;
    z-index: 1000; /* Ensure it's above the overlay */

  }
  
  .popup:hover {
    border-color: #82b8ff;
    transition: all 0.5s;
  }

.popup.open {
  display: block;
}

.front-page {
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--grey); 
  opacity: 0.7;
  z-index: 999; /* Ensure it's above other elements */
  display: none; /* Initially hidden */
}


.overlay.show {
  display: block;
}

.form-control {
  color: #6a6c72;
  transition: all 0.5s;
  background-color: #f1f5fe;
  border: 1px solid #f1f5fe;
  font-size: 16px;
  border-radius: 8px;
  padding: 15px 20px;
  margin:1rem 0 1rem 0;
  box-shadow: unset;
  height: 100%;
  width: 100%;
  outline: 0;
}

.form-control:focus {
  border-color: #004AAD;
  box-shadow: 0 0 5px rgba(#004AAD, 0.5);
}

.hh {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.mail {
  color:#004AAD;
  cursor: pointer;
}

.btn.active {
 color: red;
 cursor: pointer;
}
.label.active {
  color: red;
}


h4 {
  margin-bottom: 12px;
  font-size: 25px;
  font-weight: 500;
  color: #004AAD;
}






.btn{
  color: #004AAD;
  cursor: pointer;
  transition: all 0.5s;
  background-color: #f1f5fe;
  border: 1px solid #f1f5fe;
  font-size: 16px;
  border-radius: 8px;
  margin: 8px;
  padding: 15px 20px;
  box-shadow: unset;
  outline: 0;
}

.btn:hover {
  border: 1px solid #004AAD;
}

.btnd{
  color: #004AAD;
  cursor: pointer;
  transition: all 0.5s;
  /* background-color: #f1f5fe;
  border: 1px solid #f1f5fe; */
  border: none;
  background: transparent;
  font-size: 16px;
  border-radius: 8px;
  margin: 8px;
  padding: 15px 20px;
  box-shadow: unset;
  outline: 0;
}

/* .btnd:hover {
  border: 1px solid #004AAD;
  background-color: #f1f5fe;
} */

.btnf {
  color: red;
  cursor: pointer;
  transition: all 0.5s;
  border: none;
  background: transparent;
  font-size: 16px;
  margin: 8px;
  border-radius: 8px;
  padding: 15px 20px;
  box-shadow: unset;
  outline: 0;
  display: inline;
  position: relative;
}

.btnf i {
  transition: transform 0.5s;

}



.btnf:hover i {
  transform: translateY(-3px); /* Déplacer l'icône vers l'avant de 5 pixels lorsqu'elle est survolée */
  }


.btnd i {
  transition: transform 0.5s;
}


/* Style pour le tableau */
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 20px; /* Ajouter un rayon de bordure de 30px */
  overflow: hidden; /* Pour que le rayon de bordure soit visible */

}

/* Style pour l'en-tête du tableau */
th {
  padding: 12px;
  background-color: #004AAD;
  color: white;
  text-align: left;
}

/* Style pour les cellules du tableau */
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

/* Style pour les lignes impaires du tableau */
tr:nth-child(odd) {
  background-color: #f2f2f2;
}


.btnd:hover i {
  transform: translateY(-3px); /* Déplacer l'icône vers le haut de 5 pixels lorsqu'elle est survolée */
}


.btns {
  color: orange;
  cursor: pointer;
  transition: all 0.5s;
  background-color: #f1f5fe;
  border: 1px solid #f1f5fe;
  font-size: 16px;
  margin: 8px;
  border-radius: 8px;
  padding: 15px 20px;
  box-shadow: unset;
  outline: 0;
}

.btns:hover {
  border: 1px solid orange;

}




