<!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status ? 'hide' : ''">
    <a href="/prof-admin" class="brand">
      <i class='bx bxs-smile'></i>
      <span class="text">Admin Dashboard</span>
    </a>
    <ul class="side-menu top">
      <li>
        <a routerLink="/prof-admin">
          <i class='bx bxs-user' ></i>
          <span class="text">Professeurs</span>
        </a>
      </li>
      <li>
        <a routerLink="/structure-admin">
          <i class='bx bxs-building-house' ></i>
          <span class="text">Structures</span>
        </a>
      </li>
      <li class="active">
        <a routerLink="/product-admin">
          <i class='bx bx-package'></i>
          <span class="text">Products</span>
        </a>
      </li>
    </ul>
    <ul class="side-menu">
      <li>
        <a href="#" class="logout">
          <i class='bx bxs-log-out-circle' (click)="logout()"></i>
          <span class="text" (click)="logout()">Se déconnecter</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- SIDEBAR -->
  
  <!-- CONTENT -->
  <section id="content" class="front-page">
    <!-- NAVBAR -->
    <nav>
      <i (click)="addToggle()" class='bx bx-menu' ></i>
      <div>
        <a class="">
          Bonjour,
          <ng-container *ngIf="userId !== -1; else adminGreeting">
            {{ professeur?.prenom }} {{ professeur?.nom }}
          </ng-container>
          <ng-template #adminGreeting>
            ADMIN
          </ng-template>
        </a>
      </div>
    </nav>
    <!-- NAVBAR -->
  
    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Products</h1>
          <ul class="breadcrumb">
            <li>
              <a href="#">Home</a>
            </li>
            <li><i class='bx bx-chevron-right' ></i></li>
            <li>
              <a class="active" routerlin="/product-admin">Products</a>
            </li>
            <form (submit)="search()" class="search-form">
              <div class="form-input">
                <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" name="searchTerm" class="search-input" (input)="search()">
                <button type="submit" class="search-button"><i class='bx bx-search' ></i></button>
              </div>
            </form>
          </ul>
        </div>
        <button class="btn btn-outline-danger" (click)="openNewProductForm()"><i class="bx bx-package"></i> Add a Product</button>
      </div>
  
      <div class="table-data">
        <div class="order">
          <table>
            <thead>
              <tr>
                <th><i class="bx bx-package"></i> Name</th>
                <th><i class="bx bx-info-circle"></i> Description</th>
                <th><i class="bx bx-label"></i> Rubrique</th>
                <th><i class="bx bx-magnifier-plus"></i> Details</th>
                <th><i class="bx bx-trash"></i> Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr class="mail" *ngFor="let p of products">
                <td draggable="true">{{ p.nom }}</td>
                <td>{{ p.Desc }}</td>
                <td>{{ p.Rubrique }}</td>
                <td>
                  <button class="btnd detail-button" (click)="getProducts(p.id)">
                    <i class="bx bx-magnifier-plus"></i>
                  </button>
                </td>
                <td>
                  <button class="btnf btn-outline-danger" (click)="deleteProduct(p.id)">
                    <i class="bx bx-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <!-- Popup card for details -->
      <div class="popup card" *ngIf="isDetailsFormOpen">
        <div class="card-body">
          <div class="hh">
            <h4><i class="bx bx-magnifier-plus"></i> Product Details</h4>
            <button class="btnfp btn-outline-secondary ms-3" (click)="closeDetailsForm()">
              <i class="bx bx-x"></i>
            </button>
          </div>
          <form class="row" [formGroup]="detailsForm">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="nom" [readonly]="!isEditMode">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="Desc" [readonly]="!isEditMode">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="Rubrique" [readonly]="!isEditMode">
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer bg-transparent">
          <button class="btn btn-outline-primary" (click)="toggleEditMode()">
            <i class="bx bx-pencil"></i>
            {{ isEditMode ? 'Cancel' : 'Edit' }}
          </button>
          <button *ngIf="isEditMode" class="btns btn-outline-success ms-3" (click)="saveProductChanges()">
            <i class="bx bx-bookmark"></i> Save Changes
          </button>
        </div>
      </div>
      <div class="overlay" [ngClass]="{'show': isDetailsFormOpen}"></div>
  
      <!-- Popup card for adding a new product -->
      <div class="popup card" *ngIf="isNewProductFormOpen">
        <div class="card-body">
          <div class="hh">
            <h4><i class="bx bx-package"></i> Add a New Product</h4>
            <button class="btnfp btn-outline-primary" (click)="closeNewProductForm()">
              <i class="bx bx-x"></i>
            </button>
          </div>
          <form class="row" [formGroup]="newProductForm" (ngSubmit)="saveNewProduct()">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="nom" placeholder="Name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="Desc" placeholder="Description">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="Rubrique" placeholder="Rubrique">
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer bg-transparent">
          <button class="btn btn-outline-success ms-3" (click)="saveNewProduct()">
            <i class="bx bx-plus"></i> Add
          </button>
        </div>
      </div>
      <div class="overlay" [ngClass]="{'show': isNewProductFormOpen}"></div>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->
  